(function(root, factory) {
    if(typeof define === 'function' && define.amd) {
        // AMD module definition (require.js)
        define(factory);
    } else {
        // if everything else fails set it as a global variable
        root.AsyncUtils = factory();
    }
})(this, function() {
@{{CONTENT}}
});
